<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404</title>

    <link href="/css/tailwind/tailwind.css" rel="stylesheet">
</head>
<body>
    <h1 class="text-8xl text-center text-blue-400 mt-10 font-semibold">
        404
    </h1>

    <div class="text-center">
        <h3 class="mt-14 text-md text-gray-400">
            Woops! We couldn't find that page.<br>
            If you typed the url manually, please check if you didn't misspelled it.
        </h3>

        <div class="mt-5">
            <a class="underline text-blue-800" href="/">
                Back to home
            </a>
        </div>  
    </div>
</body>
</html>